*{
    margin: 0;
    padding: 0;
}
.preload{
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100vh;
}

body{
    background-image: url(../img/fondo.webp);
    background-size: 100% ;
    background-attachment: fixed;
    overflow: hidden;
}

.preload .imagenes{
    position: absolute;
    z-index: 201;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    animation: aparicion 2.5s linear;
    animation: aparicion 2.5s linear;
}

.preload .imagenes .lobo{
    animation: respiracion 1s linear infinite 0.2s alternate;
}

.preload .imagenes h1{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    max-width: 380px;
    text-align: center;
    margin-left: 30px;
    bottom:100px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

/*.preload .imagenes .lineaHorizontal{
    width: 3px;
    height: 120px;
    margin-left: 10px;
    background-color: black;
    border-radius: 10px;
}*/
.preload .imagenes .lineaVertical{
    position: absolute;
    width: 3px;
    height: 320px;
    margin-left: 10px;
    background-color: black;
    border-radius: 10px;
    bottom:300px;
    right:640px;
    transform: rotate(90deg);
}

.preload .imagenes .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preload .imagenes .logo{
    position: relative;
    width: 150px;
    height: 150px;
    top: 50px;
    right: 260px;
}

.preload .circulo1{
    position: absolute;
    z-index: 202;
    width: 500px;
    height: 500px;
    top: -200px;
    left: -190px;   
    filter: drop-shadow(20px 4px 4px rgba(0, 0, 0, 0.25));
    animation: rotacion 2.5s linear infinite,aparicion 2.5s linear;
}

.preload .circulo2{
    position: absolute;
    z-index: 203;
    width: 500px;
    height: 500px;
    bottom: -200px;
    right: -190px; 
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.25));
    animation: rotacion 2.5s linear infinite,aparicion 2.5s linear;
}

.preload .linea1{
    position: absolute;
    z-index: 204;
    width: 20px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(197, 14, 14);
    top: 450px;
    left: 60px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0,0,0,0.5);
    animation: aparicion 2.5s linear;
}

.preload .linea2{
    position: absolute;
    z-index: 205;
    width: 20px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(7, 7, 190);
    left: 100px;
    top: 460px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0,0,0,0.5);
    animation: aparicion 2.5s linear;
}

.preload .linea3{
    position: absolute;
    z-index: 206;
    width: 20px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(7, 7, 190);
    top: 460px;
    left: 250px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0,0,0,0.5);
    animation: aparicion 2.5s linear;
}

.preload .linea4{
    position: absolute;
    z-index: 207;
    width: 20px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(7, 7, 190);
    right: 120px;
    bottom: 410px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.5);
    animation: aparicion 2.5s linear;
}

.preload .linea5{
    position: absolute;
    z-index: 208;
    width: 20px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(197, 14, 14);
    bottom: 550px;
    right: 160px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.5);
    animation: aparicion 2.5s linear;
}

.preload .linea6{
    position: absolute;
    z-index: 209;
    width: 20px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(7, 7, 190);
    right: 260px;
    bottom: 530px;
    transform: rotate(50deg);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.5);
    animation: aparicion 2.5s linear;
}

@keyframes rotacion{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}

@keyframes respiracion{
    from{
        transform: scale(1);
    } to{
        transform: scale(1.12);
    }
}

@keyframes aparicion{
    from{
        opacity: -0.1;
        filter:alpha(opacity=-60);
    } to{
        opacity: 1;
        filter:alpha(opacity=100);
    }
}